.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
  background: $white;

  @media(max-width: 767px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container {
    max-width: 960px;
  }
  
  h2 {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;   
    .iconify {
      font-size: 40px;
    }
    @media(max-width: 767px) {
      font-size: 2.5rem;
    } 
  }
  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: $gray-700;
    line-height:1.8rem;
    text-align-last: center;
  }

  .text-greeting {
    border-bottom:2px solid #eee;
    padding:7px 10px;
    background:#f5f5f5;
    color:#777;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    font-weight: normal;

    @media (max-width: 767px) {
      display: block;
      padding: 5px;
      line-height: 18px;
      margin-top:15px;
    }
  }

  .cv-box {
    font-size: .65rem;
    line-height: 1.6rem;
    color: #535c68;
    padding: 10px 20px;
    transition: all 100ms ease-in;
    font-weight: 700;
    text-transform: uppercase;
    &__icon {
      font-size: 1.6rem;
      position: relative;
      margin-right: .5rem;
    }

  }
}
