.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;

  @media(max-width: 767px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container {
    max-width: 960px;
  }
  
  background: $white;
  h2 {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;   
    @media(max-width: 767px) {
      font-size: 2.5rem;
    } 
  }
  p {
    margin-bottom: 2rem;
    font-size: 1rem;
    color: $gray-700;
    line-height:1.8rem;
  }

  .cv-box {
    font-size: .65rem;
    line-height: 1.6rem;
    color: #535c68;
    padding: 10px 20px;
    transition: all 100ms ease-in;
    font-weight: 700;
    text-transform: uppercase;
    &__icon {
      font-size: 1.6rem;
      position: relative;
      margin-right: .5rem;
    }

  }
}
