.btn {
  font-family: 'Varela Round';
  font-size: 6%;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  backface-visibility: hidden;

}

.btn-primary {
  background-color: transparent;
  border-radius: 0px;
  color:$primary;
  font-size: .7rem;
  display: block;

  b {
    animation: fadeInRight 1000ms;
    animation-fill-mode: backwards;
    animation-delay: 2300ms;
  letter-spacing: .23rem;
  animation-timing-function: ease-out;

  font-family: 'Josefin Sans',sans-serif;
  }

  &:hover {
    background-color: transparent;
    outline: none;  
  }
  &:focus {
    background-color: transparent;
    color: white;
    outline: none;
  }
  &:active {
    background-color: transparent !important;
    outline: none;
  }
}
