.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 65%;
  text-transform: uppercase;
  letter-spacing: .25rem;
  border: 0;
  font-weight: 700;
}

.btn-primary {
  background-color: $primary;
  // border: 1px solid darken($white,  70%);
  border-radius: 3px;
  padding: .9rem 1.2rem; 
  &:hover {
    background-color: darken($primary, 2%);
  }
  &:focus {
    background-color: darken($primary, 3%);
    color: white;
  }
  &:active {
    background-color: darken($primary, 2%) !important;
  }
}
