.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #181818;
  backface-visibility: hidden;
  overflow: hidden;
  &-content {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    z-index: 3;
  }
  &-imagebg-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,transparent 50%,#181818 80%,#181818 95%);
    z-index: 2;
  }
  &-imagebg {
    background-position: 90px center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 88%;
    background-image:url(../img/2.jpeg);
    height: 100%;
    width: 80%;
    position: absolute;
    z-index: 1;
    animation: fadeImage 3000ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    // background: -webkit-linear-gradient(fade-out(white, 0.3), fade-out(white, 1));
    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;
    color: $white;
    animation: fadeInLeft 1300ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  h2 {
    max-width: 20rem;
    font-size: 1rem;
    color: $white;   
    animation: fadeInRight 1000ms;
    animation-fill-mode: forwards;
  }
  h3 {
    background-color: transparent;
    border-radius: 0px;
    color:$primary;
    font-size: .7rem;
    display: inline-block;
    font-family: 'Varela Round';
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    backface-visibility: hidden;
  
    b {
      animation: fadeInRight 1000ms;
      animation-fill-mode: backwards;
      animation-delay: 2300ms;
      letter-spacing: .23rem;
      animation-timing-function: ease-out;
  
    font-family: 'Josefin Sans',sans-serif;
    }
  
    &:hover {
      background-color: transparent;
      outline: none;  
    }
    &:focus {
      background-color: transparent;
      color: white;
      outline: none;
    }
    &:active {
      background-color: transparent !important;
      outline: none;
    }
  }
  .btn {
    animation: fadeInRight 1000ms;
    animation-fill-mode: backwards;
    animation-delay: 1300ms;
    animation-timing-function: ease-out;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: 0.9rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.1rem;
      line-height: 1.6rem;
      color: $white;
      font-weight: 300;
    }
  }

  @media(max-width: 767px) {
    &-imagebg {
      background-position: center;
      background-size: cover;
      width: 100%;
      left: 0;
      opacity: .5;
    }
    h1 {
      font-size: 1.5rem;
      letter-spacing: .3rem;
    }
  }
}

@keyframes fadeInLeft {
  0% {  opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInRight {
  0% { transform: translate(-70px,0); opacity: 0; }
  100% { transform: translate(0px,0); opacity: 1; }
}

@keyframes fadeImage {
  0% {  opacity: 0; }
  60% {  opacity: .8; }
  100% { opacity: 1; }
}
