.hidden {
    position: absolute;
}

.slideshow {
	--color-text: #fff;
	--color-bg: #0c0c0c;
	--color-link: #fff;
	--color-link-hover: #eb4d4b;
	--color-reveal: var(--color-bg);
	--color-title: #fff;
	--color-nav: #fff;
    min-height: 90vh;
    height: 90vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	padding: 6rem 0 0 0;
}
button:focus,
.slideshow > button,
.slideshow > button:focus,
.slideshow > button:active  {
  outline: 0 !important;
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.slideshow {
	position: relative;
	width: 100%;
	margin: 3.5rem 0 0 0;
	padding: 0 0 3.5rem 0;
	overflow: hidden;
}

.slide {
	width: 100%;
	height: 50vh;
	top: 0;
	position: absolute;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
  justify-items: center;
  z-index: 1;
}

.slide--current {
	position: relative;
	z-index: 100;
}

.slide__img-wrap {
	grid-area: 1 / 1 / 1 / 1;
	width: 100%;
	height: calc(100vh - 13rem);
	max-height: 100%;
	overflow: hidden;
	position: relative;
	opacity: 0;
	outline: 3px solid transparent;
}

.slide__img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	backface-visibility: hidden;
	pointer-events: none;
}

.slide__img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide__img-reveal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--color-reveal);
	transform: translate3d(-100%,0,0);
	pointer-events: none;
}

.slide__number {
	font-size: 2rem;
	position: absolute;
	top: 5.25rem;
  opacity: 0;
  left: 2rem;
}

.slide__title {
	margin: 0;
	grid-area: 1 / 1 / 1 / 1;
	font-size: 7vw;
	color: var(--color-title);
	position: relative;
	margin-bottom: 1.25rem;
	opacity: 0;
}

.slide--current .slide__img-wrap,
.slide--current .slide__number,
.slide--current .slide__title {
	opacity: 1;
}

.slidenav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: lowercase;
}

.slidenav__item {
	pointer-events: auto;
	border: 0;
	background: none;
	padding: 1rem;
	margin: 0.85rem;
	text-transform: inherit;
	position: relative;
	line-height: 1;
	color: var(--color-nav);
}

.slidenav__item::before,
.slidenav__item::after {
	content: '';
	position: absolute;
	width: 3rem;
	height: 1px;
	background: currentColor;
	top: 50%;
}

.slidenav__item::before {
	right: 100%;
}

.slidenav__item::after {
	left: 100%;
}

.slidenav__item:hover {
	color: var(--color-link-hover);
}

.slidenav__item--prev {
	transform: rotate(-90deg) translateY(-50%);
}

.slidenav__item--next {
	transform: rotate(90deg) translateY(-25%);
}

.slidenav__preview {
	pointer-events: auto;
	color: var(--color-nav);
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%;
	border: 0;
	background: none;
	padding: 2rem 1rem 2rem 1rem;
    transition: 0.3s transform;
    outline: none;
}

.slidenav__preview:hover {
	color: var(--color-link-hover);
}

.slidenav__preview .icon {
	pointer-events: none;
}

.slidenav__preview--open {
	transform: translateX(-50%) rotate(180deg);
}

.preview,
.preview__img-wrap,
.preview__img,
.preview__img-reveal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preview__img-wrap {
	overflow: hidden;
	opacity: 0;
}

.preview__img {
	background-size: cover;
	background-position: 50% 50%;
	backface-visibility: hidden;
	opacity: .1;
	filter: blur(3px);
}

.preview__img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.preview__img-reveal {
	background: var(--color-reveal);
}

.preview__title {
	position: relative;
	font-size: 1.5rem;
	opacity: 0;
	padding: 0 1rem;
	margin: 0 0 1rem 0;
	text-align: center;
}

.preview__content {
	position: relative;
	text-align: center;
	opacity: 0;
	padding: 0 1rem;
}

.preview__content p {
	margin: 0;
	font-size: 15px;
}

.slide {
	pointer-events: none !important;
}

.slide .slide__title{
	pointer-events: none !important;
}
.slide .preview__title a{
	pointer-events: auto !important;
	font-size: .7rem;
	margin-top: .4rem;
	font-family: 'Raleway', sans-serif; 
	font-weight: 700;
	text-align: center;
	opacity: .8;
	// width: 30px;
	// height: 30px;
	// line-height: 30px;
	padding: 6px 10px;
	display: inline-block;
	border: 1px solid #eb4d4b;
}

// @media screen and (min-width: 53em) {
	body {
		padding: 0;
	}
	.content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		min-height: 100vh;
		text-align: left;
	}
	.content--fixed {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		min-height: 0;
		height: 100vh;
		padding: 1.5rem 2rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'codropsheader info'
							'... ...'
							'github ...';
	}
	.codrops-header {
		grid-area: codropsheader;
		padding: 0;
		justify-content: start;
	}
	.codrops-links {
		margin: 0;
	}
	.content--fixed a {
		pointer-events: auto;
	}
	.info {
		margin: 0;
		justify-self: end;
	}
	.github {
		grid-area: github;
		justify-self: start;
	}
	.slideshow {	
		padding: 0;
		margin: 0;
	}
	.slide {
		height: 100vh;	
	}
	.slide__img-wrap {
		width: 380px;
	}
	.preview__title {
		font-size: 2.5rem;
	}
	.preview__content {
		padding: 0 2rem;
		max-width: 800px;
	}
	.slide__img::after,
	.preview__img::after {
		display: none;
	}
// }

