.tools-section {
    padding: 10rem 0;
    h2 {
        font-size: 3rem;
        font-family: 'Josefin Sans', sans-serif;    
      }
      p {
        margin-bottom: 2rem;
        font-size: 1.3rem;
        color: $gray-700;
      }

      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
}