.tools-section {
    padding: 10rem 0;
    .container {
      max-width: 960px;
      text-align: center;
    }
    h2 {
        font-size: 3rem;
        font-family: 'Josefin Sans', sans-serif;    
      }
      p {
        margin-bottom: 2rem;
        font-size: 1rem;
        color: $gray-700;
        line-height: 1.8rem;
      }

      .tech-icons {
        padding-left: 220px;
        padding-right: 220px;
        height: 45px;
        &__holder {
          width: 45px;
          height: 45px;
        }

        &__item {
          transition: all 220ms ease-in-out; 
          font-size: 26px;
          &:hover {
            font-size: 32px;
          }
        }
      }
}